body {
  text-align: center;
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
  /* padding: 20px; */
}

header {
  padding: 32px;
}

h1 {
  color: rgb(88, 49, 196);
  font-size: 52px;
}

img {
  width: 300px;
}

main {
  background-color: rgb(122, 74, 218);
  width: 700px;
  margin: 32px auto;
  padding: 32px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  color: rgb(248, 241, 255);
}

h2 {
  color: white;
}

p {
  color: seashell;
}
span {
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 14px 0;
  margin-left: 10px;
}

.heighlight {
  color: rgb(255, 237, 177);
  position: relative;
}

.heighlight::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgb(247, 209, 85);
  left: -10px;
  top: 0;
}

p a {
  background-color: rgb(255, 237, 177);
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 4px;
  color: rgb(36, 3, 102);
}
p a:hover, p a:active {
  background-color: rgb(250, 201, 39);
}

footer a {
  background-color: rgb(249, 201, 39);
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

footer a:hover, footer a:active {
  background-color: rgb(255, 186, 58);
}

footer p {
  color: rgb(131, 113, 149);
}
